<div class="container-fluid">
  <div class="row">
      <div class="col">
      <h2>Please add your thoughts below</h2>
      </div>
   <form>
       {{#each data }}
          <div class="form-group">
            <h2>{{ this.title }}</h2>
            <label for="formGroupExampleInput">Title</label>
            <input type="text" class="form-control" id="titleComment" placeholder="Example input">
  </div>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Comment</label>
            <input type="text" class="form-control" id="titleBody" placeholder="Another input">
              <a href="#" class="btn btn-info" id="save" data_articleId="{{this._id}}">Save</a>
  </div>
          </div>
          {{/each}}
        </form>

        <script>
            $(document).on("click", "#save", function() {
  // Grab the id associated with the article from the submit button
  var thisId = $(this).attr("data_articleId");

  // Run a POST request to change the note, using what's entered in the inputs
  $.ajax({
    method: "POST",
    url: "/articles/" + data_articleId,
    data: {
      // Value taken from title input
      title: $("#titleComment").val(),
      // Value taken from note textarea
      body: $("#titleBody").val()
    }
  })
    // With that done
    .then(function(data) {
      // Log the response
      console.log(data);
      // Empty the notes section
      $("#notes").empty();
    });

  // Also, remove the values entered in the input and textarea for note entry
  $("#titleComment").val("");
  $("#titleBody").val("");
});
        </script>